.nav{
  display:flex;
  text-decoration: none;
  justify-content: center; 
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 20px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif; 
}

.nav a {
  text-decoration: none;
  color:white; 
  /* flex-wrap: wrap; */
  margin:5% 10%;
  text-shadow: #000 0px 0px 1px;
}

.nav .logo{
   /* margin-left:5%;
   margin-top: 5%; */
   position: absolute;
   left: 0;
   height: 100px;
}

.videoTag{
  position:absolute;
  z-index: -1;
  object-fit:cover;
  object-position:center; 
  width:100%;
  height: 45%;
  margin:0;
filter:opacity(90%);
}


.main p{
  color:grey;
  font-size:15px;
  /* margin-top:20%;  */
  margin-left: 5px;
  margin-right:5px; 
  background-color: white; opacity: .8;
}

.Footer{
  background: #333;
  text-align: center; 
  margin:0; 
}


.Footer p{
  /* padding-left: 10px;
  padding-right:10px; */
  color:white;
  font-size:15px;
}

.Footer a{
  color:white;
  text-decoration: none;
}

/* .container{
  display:flex; 
  justify-content: center; 
} */

.container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  margin:15px; 
}
 .main h2{
   color: #1a1a1a;
   font-family: Helvetica,Arial,sans-serif;
   font-size: 26px;
   font-weight: 300;
   letter-spacing: .08em;
   /* margin-top: 16%; */
   margin-bottom:-320px;
   margin-left:30px;
 }

@media screen and (max-width:425px) {
  .main h2{
    display:none; 
  }
  .main hr{
    display:none;
  }

  .main p{
  margin-top:27%; 
  }
  .exhibit-card{
    margin:5px; 
  }
  .exhibit-card img{
    width:100%;
    height:200px;
  }

  .exhibit-card .name{
    font-size: 22px;
    text-align: left;
  }
   .exhibit-card .date{
    font-size:16px;
    text-align: left;
    letter-spacing: .01em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -5px;
    margin-left: -1px;
  }

  .exhibit-card a{
    color: #767676;
    font-size:16px;
    text-decoration: none;
  }

  .exhibit-card button{
    margin-left:10px;
  }
}


@media screen and (min-width: 768px) and (max-width:1500px) {
  .main h2{
    margin-top:12%;
    }

  .main p{
    margin-top:24%;
    margin-left:15px; 
    margin-right:15px;
    margin-bottom: 20px;
    }

  .main hr{
    margin-top:23%; 
    color: #767676;; 
    margin-right:15px;;
    margin-left:15px; 
    margin-right:15px;
    margin-bottom: -330px;
    background-color: grey;
    height: .4;
    opacity: .5;
  }

  .exhibit-card{
    margin:15px; 
  }
  .exhibit-card img{
    width:600px;
    height:400px;
  }
  
  .exhibit-card .name {
    font-size: 21px;
    text-align: left;
    font-family: 'Times New Roman', Times, sans-serif;
  }

  .exhibit-card .date{
    font-size:17px;
    text-align: left;
    letter-spacing: .01em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1px;
    margin-left: -1px;
  }
  .exhibit-card a{
    color: #767676;
    font-size:16px;
    text-decoration: none;
  }

  .exhibit-card button{
    margin-left:30px;
  }

}

@media screen and (min-width: 1500px) {
  .main h2{
    margin-top:12%;
    }

  .main p{
    margin-top:19%; 
    margin-left:15px; 
    margin-right:15px;
    margin-bottom: 20px;
    }

  .main hr{
    margin-top:18%; 
    color: #767676;; 
    margin-right:15px;;
    margin-left:15px; 
    margin-right:15px;
    margin-bottom: -330px;
    background-color: grey;
    height: .4;
    opacity: .5;
  }

  .exhibit-card{
    margin:15px; 
  }


  .SelectedExhibition{
    margin-top:20%;
  }

  .exhibit-card img{
    width:700px;
    height:450px;
  }

  .SelectedExhibition img{
    width:700px;
    height:450px;
  }
  
  .exhibit-card .name {
    font-size: 24px;
    text-align: left;
    font-family: 'Times New Roman', Times, sans-serif;
  }

  .SelectedExhibition .name{
    font-size: 24px;
    text-align: left;
    font-family: 'Times New Roman', Times, sans-serif;
  }

  .exhibit-card .date{
    font-size:17px;
    text-align: left;
    letter-spacing: .01em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1px;
    margin-left: -1px;
  }

  .Selected Exhibition .media{
    
  }
  .exhibit-card a{
    color: #767676;
    font-size:16px;
    text-decoration: none;
  }

  .exhibit-card button{
    margin-left:30px;
  }

}